.fondo{
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.90);
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  cursor: pointer;
  display: none;
}

.contenedor-imagenes{
  width: 900px;
  height: auto;
  position: relative;
}

.i{
  width: 100%;

  display: block;
}

.derecha, .izquierda{
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  cursor: pointer;
}
.derecha{
  left: 0px;
  background-image: url("../img/galeria/derecha.png");
  background-repeat: no-repeat;
  background-position: center;

}
.izquierda{
  right: 0px;
  background-image: url("../img/galeria/izquierda.png");
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor-imagenes:hover .derecha, .contenedor-imagenes:hover .izquierda{
  visibility: visible;
}
